<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>孙闻博的主页</title>
</head>
<body>
欢迎来到孙闻博的主页！！！
    <form action="/logout" method="get">
        <button>注销</button>
    </form>
    <a href="/rule.html">游戏规则</a>
    <h1>欢迎来到猜数字游戏！</h1>
    <form action="/create" method="post">
        <h3>如果你想创建一个房间，请点击这个</h3>
        <button>创建房间</button>
        <h1>
            {% for i in msg2 %}
            {{i}}
            {% endfor %}
        </h1>
    </form>

    <form action="/join" method="post">
        房间号:<input type="text" name="room_num"/>
        <button type="submit">加入</button>{{m}}
    </form>
<a href="/3D元素周期表.html">3D元素周期表</a>
</body>
</html>